Repository heig-PDG/mono, pull requests merged in 2020-11, with the labels that each got.

#96 Update build.gradle for compose alpha06, firebase-bom26, coroutines, compose-compiler, gradle
  src/build.gradle
  src/common/build.gradle
  src/gradle/wrapper/gradle-wrapper.properties
  src/mobile/build.gradle
  src/mobile/src/api/java/tupperdate/api/RealAuthenticationApi.kt
  src/mobile/src/main/java/tupperdate/android/ui/material/BrandedButton.kt
Labels: chore

#97 Replace foundation.Icon with material.Icon for Compose alpha06 migration
  src/mobile/src/main/java/tupperdate/android/appbars/mainBottomBar.kt
  src/mobile/src/main/java/tupperdate/android/appbars/onlyReturnTopBar.kt
Labels: chore

#101 Add Firebase to the backend
  .github/workflows/web.yml
  src/web/build.gradle
  src/web/src/main/java/tupperdate/web/main.kt
Labels: platform-backend

#102 Switch from Alpine to standard OpenJDK Docker image
  docker/image/web/Dockerfile
Labels: platform-backend

#98 Onboarding behaviour
  src/mobile/src/api/java/tupperdate/api/RealAuthenticationApi.kt
  src/mobile/src/main/java/tupperdate/android/App.kt
  src/mobile/src/main/java/tupperdate/android/onboarding/BottomBar.kt
  src/mobile/src/main/java/tupperdate/android/onboarding/Onboarding.kt
  src/mobile/src/main/java/tupperdate/android/onboarding/OnboardingConfirmation.kt
  src/mobile/src/main/java/tupperdate/android/ui/Types.kt
  src/mobile/src/main/java/tupperdate/android/ui/material/BrandedTextField.kt
  src/mobile/src/main/java/tupperdate/android/ui/material/BrandedTitleText.kt
  src/mobile/src/main/res/values/onboarding.xml
  src/mobile/src/mock/java/tupperdate/api/MockAuthenticationApi.kt
Labels: platform-android

#104 Implement a SwipeStack composable
  src/mobile/src/main/java/tupperdate/android/ui/layout/SwipeStack.kt
Labels: platform-android

#105 Onboarding confirmation behaviour
  src/mobile/src/main/java/tupperdate/android/App.kt
  src/mobile/src/main/java/tupperdate/android/onboarding/Onboarding.kt
  src/mobile/src/main/java/tupperdate/android/onboarding/OnboardingConfirmation.kt
  src/mobile/src/main/java/tupperdate/android/onboardingConfirmation/OnboardingConfirmation.kt
  src/mobile/src/main/res/values/onboarding.xml
Labels: platform-android

#110 Use correct Icons
  src/mobile/src/main/java/tupperdate/android/appbars/OnlyReturnTopBar.kt
  src/mobile/src/main/java/tupperdate/android/appbars/TupperdateTopBar.kt
  src/mobile/src/main/java/tupperdate/android/home/RecipeActions.kt
  src/mobile/src/main/java/tupperdate/android/home/RecipeCard.kt
  src/mobile/src/main/res/drawable/ic_account_circle_black_18dp.xml
  src/mobile/src/main/res/drawable/ic_back_arrow.xml
  src/mobile/src/main/res/drawable/ic_chat_24px.xml
  src/mobile/src/main/res/drawable/ic_clear_black_18dp.xml
  src/mobile/src/main/res/drawable/ic_clear_white_18dp.xml
  src/mobile/src/main/res/drawable/ic_fastfood_black_18dp.xml
  src/mobile/src/main/res/drawable/ic_fastfood_white_18dp.xml
  src/mobile/src/main/res/drawable/ic_favorite_border_black_18dp.xml
  src/mobile/src/main/res/drawable/ic_favorite_border_white_18dp.xml
  src/mobile/src/main/res/drawable/ic_home_accounts.xml
  src/mobile/src/main/res/drawable/ic_home_cancel.xml
  src/mobile/src/main/res/drawable/ic_home_dislike_recipe.xml
  src/mobile/src/main/res/drawable/ic_home_like_recipe.xml
  src/mobile/src/main/res/drawable/ic_home_messages.xml
  src/mobile/src/main/res/drawable/ic_home_new_recipe.xml
  src/mobile/src/main/res/drawable/ic_home_recipe_card_help.xml
  src/mobile/src/main/res/drawable/ic_navigate_before_black_18dp.xml
  src/mobile/src/main/res/drawable/ic_navigate_before_white_18dp.xml
Labels: chore, platform-android

#113 Add recipe details screen
  src/mobile/src/main/java/tupperdate/android/App.kt
  src/mobile/src/main/java/tupperdate/android/NavGraph.kt
  src/mobile/src/main/java/tupperdate/android/editRecipe/EditRecipe.kt
  src/mobile/src/main/java/tupperdate/android/editRecipe/NewRecipe.kt
  src/mobile/src/main/java/tupperdate/android/editRecipe/RecipeDetail.kt
  src/mobile/src/main/java/tupperdate/android/editRecipe/RecipeInfo.kt
  src/mobile/src/main/java/tupperdate/android/editRecipe/RecipeTags.kt
  src/mobile/src/main/java/tupperdate/android/editRecipe/ViewRecipe.kt
  src/mobile/src/main/java/tupperdate/android/home/Home.kt
  src/mobile/src/main/java/tupperdate/android/ui/Branding.kt
  src/mobile/src/main/java/tupperdate/android/ui/material/BrandedButton.kt
  src/mobile/src/main/java/tupperdate/android/ui/modifier/OverlapModifier.kt
  src/mobile/src/main/java/tupperdate/api/RecipeApi.kt
  src/mobile/src/main/res/drawable/ic_editrecipe_allergens.xml
  src/mobile/src/main/res/drawable/ic_editrecipe_cold.xml
  src/mobile/src/main/res/drawable/ic_editrecipe_edit.xml
  src/mobile/src/main/res/drawable/ic_editrecipe_not_veggie.xml
  src/mobile/src/main/res/drawable/ic_editrecipe_veggie.xml
  src/mobile/src/main/res/drawable/ic_editrecipe_warm.xml
  src/mobile/src/main/res/values/edit_recipe.xml
Labels: platform-android

#124 Cleanup
  src/mobile/src/main/java/tupperdate/android/App.kt
  src/mobile/src/main/java/tupperdate/android/home/Home.kt
  src/mobile/src/main/java/tupperdate/android/onboarding/BottomBar.kt
  src/mobile/src/main/java/tupperdate/android/onboarding/Onboarding.kt
  src/mobile/src/main/java/tupperdate/android/onboardingConfirmation/OnboardingConfirmation.kt
Labels: chore, platform-android

#149 Send profile pictures to server
  src/common/src/main/java/tupperdate/common/dto/MyUserDTO.kt
  src/common/src/main/java/tupperdate/common/dto/UserDTO.kt
  src/mobile/src/api/java/tupperdate/api/RealApi.kt
  src/mobile/src/api/java/tupperdate/api/RealRecipeApi.kt
  src/mobile/src/api/java/tupperdate/api/RealUserApi.kt
  src/mobile/src/main/java/tupperdate/android/App.kt
  src/mobile/src/main/java/tupperdate/android/editRecipe/NewRecipe.kt
  src/mobile/src/main/java/tupperdate/android/profile/Profile.kt
  src/mobile/src/main/java/tupperdate/android/ui/components/ProfilePicture.kt
  src/mobile/src/main/java/tupperdate/api/ImagePickerApi.kt
  src/mobile/src/main/java/tupperdate/api/RecipeApi.kt
  src/mobile/src/main/java/tupperdate/api/UserApi.kt
  src/mobile/src/mock/java/tupperdate/api/MockAuthenticationApi.kt
  src/mobile/src/mock/java/tupperdate/api/MockRecipeApi.kt
  src/mobile/src/mock/java/tupperdate/api/MockUserApi.kt
  src/web/src/main/java/tupperdate/web/main.kt
  src/web/src/main/java/tupperdate/web/model/User.kt
  src/web/src/main/java/tupperdate/web/routing/users/Users.kt
  src/web/src/main/java/tupperdate/web/routing/users/Users.put.kt
Labels: platform-android

#151 Small fixes and refactoring
  src/mobile/src/main/java/tupperdate/android/App.kt
  src/mobile/src/main/java/tupperdate/android/MainActivity.kt
  src/mobile/src/main/java/tupperdate/android/profile/Profile.kt
Labels: chore, documentation, platform-android
